{#
/**
 * @file
 * Theme override to display the Teaser view mode of the Topic content type.
 *
 * These are topic cards.
 *
 * @copyright Copyright (c) 2016 Palantir.net
 */
 #}

<section class="ma__section-links js-section-accordion">
  <div class="ma__section-links__content">
    <div class="ma__section-links__icon">
      <figure class="ma__category-icon ma__category-icon--small">
        {%
          include "@mass_theme/includes/atoms-svg.html.twig" with
          {'iconName':node.field_icon_term.entity.field_sprite_name.value}
        %}
      </figure>
    </div>
    <h3 class="ma__section-links__title js-section-accordion-link">
      <a href="{{ url }}">{{ label|field_value }}
        <svg focusable="false" role="presentation" class="svg-arrow">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ active_theme_path() }}/images/svg-sprite.svg#arrow"></use>
        </svg>
      </a>
    </h3>
    <div class="ma__section-links__toggle-content js-section-accordion-body">
      <p class="ma__section-links__description">{{ content.field_lede }}</p>
      <h4 class="ma__section-links__mobile-title">
        <a href="{{ url }}">Learn More&nbsp;<svg focusable="false" role="presentation" class="svg-arrow">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ active_theme_path() }}/images/svg-sprite.svg#arrow"></use>
          </svg>
        </a>
      </h4>
      {{ drupal_view('subtopics', 'section_links', node.id) }}
    </div>
  </div>
</section>
