{#
/**
 * @file
 * Theme override to display the Full view mode of Topic content type.
 *
 * Uses 'extend' methods from http://www.stevector.com/2013/10/make-your-drupal-8-theme-easier-to-maintain-with-this-one-weird-trick-twigs-extends-concept/
 *
 * @copyright Copyright (c) 2016 Palantir.net
 */
 #}
{% extends 'node.html.twig' %}


{# Take our blocks from node.html.twig and extend them to get our wrapping divs #}
{% block preContent %}
  <section class="ma__breadcrumbs ">
    <div class="ma__breadcrumbs__container">
      <ul>
        <li><a href="/">Home</a></li>
        <li>{{ content.field_section|field_value }}</li>
        <li><a href="{{ url }}">{{ label|field_value }}</a></li>
      </ul>
    </div>
  </section>
  {%
  set bannerData = {
    'icon': node.field_node_icon.value,
    'class': 'ma__page-banner--small'
  }
  %}
  {# Our section and topic landing pages have similar markup. Lets see if we can just pass in what we need #}
  {% include "@mass_theme/includes/ma--page-banner.html.twig" with bannerData  %}
{% endblock %}

{# This is going to get replaced with real views and content. #}
{% block pageContent %}

  {{ content.field_common_content }}

  <section class="ma__sections-3up">
    <h2 class="ma__sections-3up__title">More in State Parks &amp; Recreation</h2>
    <div class="ma__sections-3up__container">
      <section class="ma__section-links js-section-accordion">
        <div class="ma__section-links__content">
          <h3 class="ma__section-links__title js-section-accordion-link">
            <a href="#">Accessible Recreation&nbsp;<svg focusable="false" role="presentation" class="svg-arrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/{{ active_theme_path() }}/images/svg-sprite.svg#arrow"></use>
              </svg>
            </a>
          </h3>
          <div class="ma__section-links__toggle-content js-section-accordion-body">
            <h4 class="ma__section-links__mobile-title">
              <a href="#">Learn More&nbsp;<svg focusable="false" role="presentation" class="svg-arrow">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/{{ active_theme_path() }}/images/svg-sprite.svg#arrow"></use>
                </svg>
              </a>
            </h4>
            <ul class="ma__section-links__items">
              <li class="ma__section-links__item">
                <a href="#" class="ma__section-links__link">Accessible Fishing<span role="presentation"></span></a>
              </li>
              <li class="ma__section-links__item">
                <a href="#" class="ma__section-links__link">Accessible Swimming<span role="presentation"></span></a>
              </li>
              <li class="ma__section-links__item">
                <a href="#" class="ma__section-links__link">Accessible Hiking<span role="presentation"></span></a>
              </li>
              <li class="ma__section-links__item">
                <a href="#" class="ma__section-links__link">More<span role="presentation"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="ma__section-links js-section-accordion">
        <div class="ma__section-links__content">
          <h3 class="ma__section-links__title js-section-accordion-link">
            <a href="#">Active &amp; Team Sports&nbsp;<svg focusable="false" role="presentation" class="svg-arrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/{{ active_theme_path() }}/images/svg-sprite.svg#arrow"></use>
              </svg>
            </a>
          </h3>
          <div class="ma__section-links__toggle-content js-section-accordion-body">
            <h4 class="ma__section-links__mobile-title">
              <a href="#">Learn More&nbsp;<svg focusable="false" role="presentation" class="svg-arrow">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/{{ active_theme_path() }}/images/svg-sprite.svg#arrow"></use>
                </svg>
              </a>
            </h4>
            <ul class="ma__section-links__items">
              <li class="ma__section-links__item">
                <a href="#" class="ma__section-links__link">Ice Skating<span role="presentation"></span></a>
              </li>
              <li class="ma__section-links__item">
                <a href="#" class="ma__section-links__link">Golfing<span role="presentation"></span></a>
              </li>
              <li class="ma__section-links__item">
                <a href="#" class="ma__section-links__link">Reserve an Athletic Field<span role="presentation"></span></a>
              </li>
              <li class="ma__section-links__item">
                <a href="#" class="ma__section-links__link">More<span role="presentation"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="ma__section-links js-section-accordion">
        <div class="ma__section-links__content">
          <h3 class="ma__section-links__title js-section-accordion-link">
            <a href="#">Nature &amp; Outdoor Activities&nbsp;<svg focusable="false" role="presentation" class="svg-arrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/{{ active_theme_path() }}/images/svg-sprite.svg#arrow"></use>
              </svg>
            </a>
          </h3>
          <div class="ma__section-links__toggle-content js-section-accordion-body">
            <h4 class="ma__section-links__mobile-title">
              <a href="#">Learn More&nbsp;<svg focusable="false" role="presentation" class="svg-arrow">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/{{ active_theme_path() }}/images/svg-sprite.svg#arrow"></use>
                </svg>
              </a>
            </h4>
            <ul class="ma__section-links__items">
              <li class="ma__section-links__item">
                <a href="#" class="ma__section-links__link">Camping<span role="presentation"></span></a>
              </li>
              <li class="ma__section-links__item">
                <a href="#" class="ma__section-links__link">Hiking<span role="presentation"></span></a>
              </li>
              <li class="ma__section-links__item">
                <a href="#" class="ma__section-links__link">Biking<span role="presentation"></span></a>
              </li>
              <li class="ma__section-links__item">
                <a href="#" class="ma__section-links__link">More<span role="presentation"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="ma__section-links js-section-accordion">
        <div class="ma__section-links__content">
          <h3 class="ma__section-links__title js-section-accordion-link">
            <a href="#">Water Related Activities&nbsp;<svg focusable="false" role="presentation" class="svg-arrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/{{ active_theme_path() }}/images/svg-sprite.svg#arrow"></use>
              </svg>
            </a>
          </h3>
          <div class="ma__section-links__toggle-content js-section-accordion-body">
            <h4 class="ma__section-links__mobile-title">
              <a href="#">Learn More&nbsp;<svg focusable="false" role="presentation" class="svg-arrow">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/{{ active_theme_path() }}/images/svg-sprite.svg#arrow"></use>
                </svg>
              </a>
            </h4>
            <ul class="ma__section-links__items">
              <li class="ma__section-links__item">
                <a href="#" class="ma__section-links__link">Boating<span role="presentation"></span></a>
              </li>
              <li class="ma__section-links__item">
                <a href="#" class="ma__section-links__link">Lifeguarding<span role="presentation"></span></a>
              </li>
              <li class="ma__section-links__item">
                <a href="#" class="ma__section-links__link">Canoeing<span role="presentation"></span></a>
              </li>
              <li class="ma__section-links__item">
                <a href="#" class="ma__section-links__link">More<span role="presentation"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </section>
{% endblock %}

{% block postContent %}
  <section class="ma__breadcrumbs ">
    <div class="ma__breadcrumbs__container">
      <ul>
        <li><a href="/">Home</a></li>
        <li>{{ content.field_section|field_value }}</li>
        <li><a href="{{ url }}">{{ label|field_value }}</a></li>
      </ul>
    </div>
  </section>
{% endblock %}