{#
/**
 * @file
 * Partial for alerts in the header.
 */
#}
{% if content.field_alert_text|field_value is not empty %}
<section class="ma__header-alert js-header-alert" role="alert">
  <div class="ma__header-alert__container">
    <span class="ma__header-alert__label">{{ content.field_alert_dropdown }}</span>
    <span class="ma__header-alert__message">
      {% if content.field_alert_link %}
        <a class="ma__content-link" href="{{content.field_alert_link|field_value}}" title="{{content.field_alert_text|field_value}}">{{content.field_alert_text|field_value}}</a>
      {% else %}
        {{ content.field_alert_text }}
      {% endif %}
    </span>
  </div>
  <button class="ma__header-alert__hide js-header-alert-link" title="hide alert">+</button>
</section>
{% endif %}
