{#
/**
 * @file
 * Partial for suggested pages finder. To be included at the node level.
 *
 * @copyright Copyright (c) 2016 Palantir.net
 */
#}
<section class="ma__guide-section">
  <h2 class="ma__guide-section__title"><a name="{{ label_clean }}" id="{{ label_clean }}">{{ label }}</a></h2>
</section>
<div class="main-content {{ content.field_band_right_rail|render|trim is not empty ? 'main-content--two' : '' }}">
  <main class="page-content">
    {{ content.field_band_main|field_value }}
  </main>
  {% if content.field_band_right_rail|render|trim is not empty %}
    <aside class="sidebar">
      {{ content.field_band_right_rail|field_value }}
    </aside>
  {% endif %}
</div>