{#
/**
 * @file
 * Partial for action finder. To be included at the node level.
 *
 * @copyright Copyright (c) 2016 Palantir.net
 */
#}
<section class="ma__action-finder">
  {% if desktop_image is not empty or mobile_image is not empty %}
    <style>
      .ma__action-finder__banner {
        background-image: url('{{ mobile_image }}');
      }
      
      @media (min-width: 801px) {
        .ma__action-finder__banner {
          background-image: url('{{ desktop_image }}');
        }
      }
    </style>
  {% endif %}
  <div class="ma__action-finder__banner"></div>
  <div class="ma__action-finder__container">
    <header class="ma__action-finder__header">
      <h2 class="ma__action-finder__title">{{ 'What Would You Like to Do?'|t }}</h2>
      <div class="ma__action-finder__search">
        <section class="ma__keyword-search js-keyword-search">
          {{ all_actions_form }}
        </section>
      </div>
    </header>
    {% if action_finder_links|render|trim %}
      <div class="ma__action-finder__category">{{ 'Featured:'|t }}</div>
      {{ action_finder_links }}
    {% endif %}
    <div class="ma__action-finder__category">{{ 'All Actions &amp; Guides:'|t }}</div>
    {{ drupal_view('subtopics_all_actions', 'embed_1') }}
  </div>
</section>
